<!-- Segment Info -->
<form name="segment_form" class="form-horizontal" role="form" novalidate>
    <div class="form-group">
        <div class="col-md-4 col-md-offset-8">
            <button ng-if="can_delete_section()" ng-click="delete_panel($index, 'segment')" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
    <div class="form-group has-warning">
        <label for="id" class="col-md-2 control-label">Shared Segment #</label>
        <div class="col-md-4">
            <input ng-model="route.sections[$index].form['id']" ng-change="update_route()" name="id" type="text" class="form-control" id="" placeholder="">
            <span class="help-block">* Optional.  Has this Segment already been completed? Enter the Shared Segment # to skip this Segment</span>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-success': segment_form.street.$valid}">
        <label for="street" class="col-md-2 control-label">Street</label>
        <div class="col-md-4">
            <input ng-model="route.sections[$index].form['street']" ng-change="update_route()" name="street" type="text" class="form-control" id="" placeholder="" required>
            <span ng-if="segment_form.street.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-success': segment_form.street_side.$valid}">
        <label for="street_side" class="col-md-2 control-label">Side</label>
        <div class="col-md-4">
            <div class="radio">
                <label><input type="radio" ng-model="route.sections[$index].form['side']" ng-change="update_route()" name="street_side" value="1" required> North</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="route.sections[$index].form['side']" ng-change="update_route()" name="street_side" value="2" required> South</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="route.sections[$index].form['side']" ng-change="update_route()" name="street_side" value="3" required> East</label>
            </div>
            <div class="radio">
                <label><input type="radio" ng-model="route.sections[$index].form['side']" ng-change="update_route()" name="street_side" value="4" required> West</label>
            </div>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-success': segment_form.starting_xstreet.$valid}">
        <label for="starting_xstreet" class="col-md-2 control-label">Starting Cross-street</label>
        <div class="col-md-4">
            <input ng-model="route.sections[$index].form['starting_xstreet']" ng-change="update_route()" name="starting_xstreet" type="text" class="form-control" id="" placeholder="" required>
            <span ng-if="segment_form.starting_xstreet.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-success': segment_form.ending_xstreet.$valid}">
        <label for="ending_xstreet" class="col-md-2 control-label">Ending Cross-street</label>
        <div class="col-md-4">
            <input ng-model="route.sections[$index].form['ending_xstreet']" ng-change="update_route()" name="ending_xstreet" type="text" class="form-control" id="" placeholder="" required>
            <span ng-if="segment_form.ending_xstreet.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
    </div>
</form>

<hr />
